.card {
    position: absolute;
    height: 280px;
    width: 200px;
    background: linear-gradient(in hsl, blue, red 80%);
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    border: 1px solid black;
    transform: translateX(0px) perspective(800px) translate3d(10px, 0, 20px) rotateY(21deg);
    box-shadow: -5px 2px rgba(0, 0, 0, 0.7);
}
.card:hover:not(:last-child) {
    animation: last-cards .3s;
    animation-delay: .1s;
    animation-fill-mode: forwards;
}
.card:hover:last-child{
    animation: first-card .3s;
    animation-fill-mode: forwards;
}
.card:not(:hover){
    animation: teste .3s;
    animation-fill-mode: forwards;
}
.card:not(:hover):last-child{
    animation: first-card-teste .3s;
    animation-fill-mode: forwards;
}
@keyframes last-cards {
    from, to { transform: translateX(0px) perspective(800px) translate3d(10px, 0, 20px) rotateY(21deg);}
    50% {transform: translateX(-40px) scale(1.1) perspective(800px) translate3d(10px, 0, 20px) rotateY(21deg);}
    100% { transform: translateX(0px) scale(1.15); z-index: 1; box-shadow: none;}
}
@keyframes first-card{
    from { transform: perspective(800px) translate3d(10px, 0, 20px) rotateY(21deg);}
    to { transform: scale(1.15); box-shadow: none;}
}
@keyframes teste{
    from, to{ transform: translateX(0px) scale(1.15); z-index: 1; box-shadow: none;}
    50% {transform: translateX(-40px) scale(1.1) perspective(800px) translate3d(10px, 0, 20px) rotateY(21deg); z-index: 0}
    100% { transform: translateX(0px) perspective(800px) translate3d(10px, 0, 20px) rotateY(21deg); z-index: 0; box-shadow: -5px 2px rgba(0, 0, 0, 0.7);}
}
@keyframes first-card-teste{
    from { transform: scale(1.15); box-shadow: none;}
    to { transform: perspective(800px) translate3d(10px, 0, 20px) rotateY(21deg); box-shadow: -5px 2px rgba(0, 0, 0, 0.7);}
}