.container{
    display: flex;
    margin: 20px;
    flex-wrap: wrap;
    max-width: 80vw;
    justify-content: center;
}
.parent_container{
    max-width: 100%;
    justify-content: center;
    display: grid;
}